<html lang="en">
<head>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/uiet-connect.appspot.com/o/logo.png?alt=media&token=35494484-e04a-4b21-aa83-3e52d0db8dc7" type="image/x-icon">
    <title>Meal Planner</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/createuser.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body >
    <div class="header row">
        <div class="progressBar">
            <div class='progressInner'>
                <div class="line bg-blueCus"></div>
                <div class="dot bor-blueCus">1</div>
                <label class="text-blueCus">Add Food-item</label>
            </div>
            <div class='progressInner'>
                <div class="line bg-blueCus"></div>
                <div class="dot bor-blueCus">2</div>
                <label class="text-blueCus">Create Meal</label>
            </div>
                <div class='progressInner'>
                <div class="dot bor-blueCus">3</div>
                <label class="text-blueCus">Create User </label>
            </div>
        </div>
    </div>


    <form action="/createUser" method="post">
        <div class="con">
            <div class="col-12 col-md-9 infoCon">
                <h3 class="center"> Make meal plan for user. </h3>
                    <div class="dataInput">                                
                        <input type="text" name="name" id="name" required placeholder="Enter user name">
                        <input type="number" name="calories" min="1000" max="5000" id="calories" required placeholder="Enter calories requirement/day">
                    </div>
                    <div class="mealCon">

                        <% for(var i=0;i<2;i++) {%> 
                            <div class="meals">
                                <div class="head">Day <%= i+1 %></div>
                                <input type="text" name="meal<%= i+1 %>" id="meal<%= i+1 %>" class="hidden">
                                <div class="personalDet<%= i+1 %> personalDet"></div>
                                <div class="showitems row">

                                </div>
                            </div>
                        <% }%> 
                           
                    </div>
                    <a class="infoData" href="/api/createmeal" target="_blank">View meal data</a>
                    <div class="center mb-1">
                         <input type="submit" value="Submit" class="mybtn" id="mybtn">
                    </div>
            </div>
        </div>
    </form>


        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
        crossorigin="anonymous"></script>
        <% if(local.response === "patch") {%> 
        <script src="/js/createuserpatch.js"></script>
        <% } else {%>
        <script src="/js/createuser.js"></script> <%}%>


</body>
</html>