body{
    background-color: #f5f5f5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------- universal div section  */
.row{
    margin: 0;
    padding: 10px;
    background-color: aquamarine;
}
h3{
    font-size: 25px;
    margin: 10px 0;
}
.center{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.mybtn{
    border: 2px solid #e16805;
    border-radius: 5px;
    background-color: #f48225;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.2s ease;
    padding: 5px 10px;
    transition: all 0.25s ease;
}
.mybtn:hover{
    box-shadow: 0 2px 5px #777;
}
.mybtn:active{
    transform: scale(0.96);
}
.mybtn:disabled{
    border: 1px solid #ff7300;
    background-color: #ff8e31;
    cursor: not-allowed;
}
.mybtn:disabled:hover{
    box-shadow: none;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.infoCon{
    background-color: white;
    box-shadow: 0 2px 5px #777;
    border-radius: 5px;
}
.selectArea{
    margin: 0;
    text-align: center;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}
.totalClick{
    color: #2e63bd;
    font-size: 16px;
}
.info{
    text-align: center;
    font-size: 13px;
    font-family: 10px;
    color: #2e63bd;
    font-weight: 700;
    padding: 3px;
}
.hidden{
    display: none;
}

/* ---------- specific div section  */
.foodItems{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}
.foodItems .items{
    position: relative;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2e63bd;
    color: white;
    font-weight: 500;
    transition: all 0.2s ease;
}
.foodItems .items:hover{
    transform: scale(1.05);
}
.foodItems .items:active{
    transform: scale(0.95);
}
.foodItems .items input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}
.foodItems .items input + i{
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #2e63bd;
    padding: 3px;
    border-radius: 50%;
    opacity: 0;
}
.foodItems .items input:checked + i{
    opacity: 1;
}
@media only screen and (max-width: 1000px) {
    .con{
        height: auto;
        margin: 20px 0;
    }
    .foodItems .items{
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
    }
    h3{
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px) {
    h3{
        font-size: 15px;
        font-weight: 500;
    }
    .foodItems .items{
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
    }
}