.infoCon{
    background-color: white;
    box-shadow: 0 2px 5px #777;
    border-radius: 5px;
    padding: 0 15px;
}
.dataInput{
    display: flex;
    justify-content: center;
}
.dataInput input{
    padding: 5px 10px;
    outline: none;
    height: 40px;
    margin: 5px 10px;
    background-color: #fcfcfc;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
.info{
    text-align: center;
    font-size: 13px;
    font-family: 10px;
    color: #2e63bd;
    font-weight: 700;
    padding: 3px;
}
.hidden{
    display: none;
}
.personalDet{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
.infoData{
    color: #01286a;
    text-decoration: none;
}

/* ---------- specific div section  */

.mealCon .meals{
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
    margin: 15px 0;
}
.mealCon .meals .head{
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
}
.mealCon .meals .showitems{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.mealCon .meals .selectionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 15px;
}
.mealCon .meals .selectionBox .title{
    background-color: #2e63bd;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.mealCon .meals .selectionBox select{
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 0;
    border: 2px solid #2e63bd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}


@media only screen and (max-width: 1000px) {
    h3{
        font-size: 20px;
    }
}
@media only screen and (max-width: 550px) {
    h3{
        font-size: 15px;
        font-weight: 500;
    }
}