@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Varela+Round&display=swap');
body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

/* ---------- universal div section  */
.row{
    margin: 0;
    padding: 10px;
}
h3{
    font-size: 25px;
    margin: 10px 0;
}
h5{
    margin: 5px 0;
}
a{
    text-decoration: none;
}
.center{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.mybtn{
    border: 2px solid #e16805;
    border-radius: 5px;
    background-color: #f87d19;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.2s ease;
    padding: 5px 10px;
    user-select: none;
    transition: all 0.25s ease;
}
.mybtn:hover{
    box-shadow: 0 2px 5px #777;
}
.mybtn:active{
    transform: scale(0.96);
}
.mybtn:disabled{
    border: 1px solid #ff7300;
    background-color: #ff8e31;
    cursor: not-allowed;
}
.mybtn:disabled:hover{
    box-shadow: none;
}
.con{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}
.hidden{
    display: none;
}
.header{
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.progressBar{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.progressBar .progressInner{
    display: flex;
    position: relative;
    width: 110px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progressBar .progressInner .dot{
    width: 25px;
    height: 25px;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.progressBar .progressInner .line{
    position: absolute;
    left: 66px;
    top: 11px;
    width: 85px;
    height: 3px;
    border-radius: 10px;
}
.bg-blueCus{
    background-color: #2e63bd;
}
.bor-blueCus{
    border: 2px solid #2e63bd;color: #2e63bd;
}
.bg-greyCus{
    background-color: #777;
}
.bor-greyCus{
    border: 2px solid #777;color: #777;
}
.text-blueCus{ 
    color: #2e63bd;
}
.text-greyCus{ 
    color: #777;
}
.progressBar .progressInner label{
    font-size: 12px;
    font-weight: 700;
    margin-top: 3px;
}

.loading-container {
    height: 90vh;
    width: 100%;
    background-color: #f6f6f6;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.spinner {
    height: 14rem;
    width: 14rem;
    border: 20px solid #588be3;
    border-left: 20px solid #1c4997;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin infinite 1.5s linear;
}

.spinner-text {
    position: absolute;
    font-size: 14px;
    color: #2e63bd;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: sans-serif;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
@media only screen and (max-width: 500px) {
    .progressBar .progressInner .line{
        display: none;
    }
}
@media only screen and (max-width: 350px) {
    .progressBar .progressInner label{
        display: none;
    }
}
